<header>

    <div class="top-header">
        <p class="">OFERTA HASTA AGOTAR STOCK 30% --- SOLO POR ESTE MES</p>
    </div>
    <section>
        <div class="container">
            <ul class="nav-item">
                <li id="menu"><i class="fa-solid fa-bars nav-item"></i></li>
            </ul>
            <div class="logo">
                <img src="image/gamer-house-logo.png" alt="Gamer House" id="logo">
            </div>
            <nav>
                <ul class="nav-item">
                    <li>QUIENES SOMOS</li>
                    <li>MEDIOS DE PAGO</li>
                    <li>SOPORTE</li>
                </ul>
            </nav>
            <div>
                <ul class="nav-item">
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
        </div>
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="  Buscar juegos, consolas, acc..">
            <i class="fas fa-search" id="lupa"></i>
        </div>

</header>