/* ---- HTML Header ---- */

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/h.css">
    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
    <title>Gamer House - Carro de compras</title>
</head>

<body>

    <header>

        <div class="top-header">
            <p class="">OFERTA HASTA AGOTAR STOCK 30% --- SOLO POR ESTE MES</p>
        </div>
        <section>
            <div class="container">
                <ul class="nav-item">
                    <li id="menu"><i class="fa-solid fa-bars nav-item"></i></li>
                </ul>
                <div class="logo">
                    <img src="image/gamer-house-logo.png" alt="Gamer House" id="logo">
                </div>
                <nav>
                    <ul class="nav-item">
                        <li>QUIENES SOMOS</li>
                        <li>MEDIOS DE PAGO</li>
                        <li>SOPORTE</li>
                    </ul>
                </nav>
                <div>
                    <ul class="nav-item">
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>
            </div>
            <div class="search-container">
                <input type="text" id="search-bar" placeholder="  Buscar juegos, consolas, acc..">
                <i class="fas fa-search" id="lupa"></i>
            </div>

    </header>

</body>



/* ---- CSS Header ---- */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
width: 100%;
}

body {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

footer {
width: 100%;
}

header {
width: 100%;
background-color: #120727;
}

header i {
color: #fff;
}

div.top-header {
width: 100%;
text-align: center;
background-color: #cade01;
}


#logo {
width: 100%;
}

div.logo {
display: flex;
width: 50%;

}

nav {
display: none;
}

.nav-item {

display: flex;
justify-content: right;
list-style: none;
align-items: right;
transition: all 650ms;
}

ul.nav-item li {
width: 100%;
padding: 30px;
text-align: center;
align-items: center;
justify-content: center;
transition: all 650ms;
font-size: 14px;
}

ul.nav-item li:hover {
background-color: #3c145e;
}

ul.nav-item li:hover i {
color: #cade01;
}

.container {
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
padding-bottom: 0px;
background-color: #120727;
margin-left: 5%;
margin-right: 5%;

}


.search-container {
width: 100%;
display: flex;
justify-content: center;
padding: 8px;
padding-left: 35px;
padding-right: 35px;
background-color: #3c145e;
align-items: right;
}


#lupa {
margin-left: 7px;
padding: 2px;
background-color: #3c145e;
border-radius: 5px;
color: #cade01;
}

#search-bar {
width: 70%;
max-width: 1000px;
flex-grow: 0;
border: 2px solid #120727;
border-radius: 5px;
height: 26px;
padding: 4px;
font-weight: 100;
}

/*--- Media Query Header ---*/

@media (min-width: 768px) {



div.container {
justify-content: center;
}

ul.nav-item {
margin-left: 30px;
}

nav {
display: block;
color: #fff;
align-items: center;
}

#menu {
display: none;
}

div.logo {
width: 30%;
}
}