<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>

    <title>home</title>
</head>

<body>

    <!-- BANNER  -->
    <section class="banner">
        <img src="image/bannerHome.jpg" alt="banner-ideo Juegos">
    </section>

    <main>

        <!-- SECCIÓN DE CATEGORÍAS -->
        <section class="categorias">
            <h3>CATEGORIAS</h3>

            <div class="products">

                <article class="item">
                    <img src="image/consolas.png" alt="item-consolas" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/juegos.png" alt="item-juegos" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/controles.png" alt="item-controles" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/accesorios.png" alt="item-accesorios" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

            </div>

        </section>

        <!-- SECCIÓN DE NUEVOS PRODUCTOS / LANZAMIENTOS -->
        <section class="productos-nuevos">
            <h3>PRODUCTOS NUEVOS / LANZAMIENTOS</h3>

            <div class="products">

                <article class="item">
                    <img src="image/fifa22.png" alt="item-consolas" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/battlefield.png" alt="item-juegos" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/callOfDuty.png" alt="item-controles" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

                <article class="item">
                    <img src="image/gta.png" alt="item-accesorios" class="product_img">
                    <div class="main-article">
                    </div>
                </article>

            </div>

        </section>

    <!-- CARRITO DE COMPRAS -->
        <section></section>
        <div class="facebook-menu" <i class="fas fa-truck"></i>
        </div>

    <!-- ICONOS DE FACEBOOK E INSTAGRAM -->
        <div class="facebook-menu" <i class="fab fa-facebook"></i>
        </div>

        <div class="instagram-menu" <i class="fab fa-instagram"></i>
        </div>

    </main>

</body>

</html>