<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>

    <title>home</title>
</head>

<header>

    <div class="top-header">
        <p class="">OFERTA HASTA AGOTAR STOCK 30% --- SOLO POR ESTE MES</p>
    </div>

    <div class="container">
        <i class="fa-solid fa-bars nav-item"></i>
        <div class="logo">
        <img src="image/gamer-house-logo.png" alt="logo-gamer-house" id="logo">
        </div>
        <nav>
            <ul class="nav-item">
                <li>Quienes Somos</li>
                <li>Contactanos</li>
                <li>Soporte</li>
            </ul>
        </nav>
        <div>
            <ul class="nav-item">
                <li><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </div>
    </div>
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="  Buscar videojuegos">
        <i class="fas fa-search" id="lupa"></i>
    </div>

</header>


<body>

    <!-- BANNER  -->
    <section id="banner-container">
        <img src="image/bannerHome.jpg" alt="banner-video Juegos" class="banner">
    </section>

    <main>
<br>
<br>
        <!-- SECCIÓN DE CATEGORÍAS -->
        <section class="categorias">
            <h3>CATEGORIAS</h3>
<br>
            <div id="products-container">

                <div class="container-duo">
                <img src="image/consolas.png" alt="item-consolas" class="product_img">

                <img src="image/juegos.png" alt="item-juegos" class="product_img">
                </div>
                <div class="container-duo">
                <img src="image/controles.png" alt="item-controles" class="product_img">

                <img src="image/accesorios.png" alt="item-accesorios" class="product_img">
                </div>

            </div>

        </section>
<br>
<br>

<!-- CATEGORÍAS POR MARCAS -->
<section class="marcas-videojuego">
    <h3>ELIGE TU MARCA</h3>
    <br>

    <div class="products-container">
    <img src="image/playStation.png" alt="item-playstation" class="marcas-games">

    <img src="image/nintendo.png" alt="item-nintendo" class="marcas-games">

    <img src="image/xbox.png" alt="item-xbox" class="marcas-games">

    </div>
<br>
<br>
</section> 

        <!-- SECCIÓN DE NUEVOS PRODUCTOS / LANZAMIENTOS -->
        <section class="productos-nuevos">
            <h3>PRODUCTOS NUEVOS LANZAMIENTOS</h3>
<br>
            <div class="products-container">

                <div class="container-duo">
                    <!-- poner una etiqueta a con Link a productDetail -->
                <img src="image/fifaps4.jpg" alt="item-cod" class="lanzamientos">

                <img src="image/godofwarps5.jpg" alt="item-godofwar" class="lanzamientos">
                </div>

                <div class="container-duo">
                <img src="image/gtaps5.jpg" alt="item-gta" class="lanzamientos">

                <img src="image/spider-manps5.jpg" alt="item-spiderman" class="lanzamientos">
                </div>

                <div class="container-ultimaspeliculas"></div>
                <img src="image/doomps5.jpg" alt="item-doomps5" class="lanzamientos">

                <img src="image/airconflictsps5.jpg" alt="item-airconflicts" class="lanzamientos">

                </div>

                <div class="container-peliculasxbox"></div>
                <img src="image/codxbox.jpg" alt="item-codxbox" class="lanzamientos">

                <img src="image/haloxbox.jpg" alt="item-haloxbox" class="lanzamientos">

                </div>

            </div>

        </section> 

<br>
          <!-- CARRITO DE COMPRAS -->
          <ul class="nav-item">
            <li><i class="fa-solid fa-cart-shopping"></i></li>

<br>

        <!-- ICONOS DE FACEBOOK E INSTAGRAM-->
            <div class="container-redes">
    
            <img src="image/facebooklogo.png" alt="item-fb" class="redsocial">

            <img src="image/instagramlogo.png" alt="item-instagram" class="redsocial">
            
            </div>

    </main>

    <footer>
        <div class=footer>
            <div class="footer-contenedor-uno">
                <img src="image/gamer-house-logo.png" alt="logo en el footer" class="footer-imagen-logo">
            </div>
            <div class="footer-contendedor-dos">
                <div class="footer-columna">
                    <h3>TIENDA</h3>
                    <p class="integrantes">Play Station</p>
                    <p class="integrantes">X-Box</p>
                    <p class="integrantes">Pc</p>
                </div>
                <div class="footer-columna">
                    <h3>SERVICIO AL CLIENTE</h3>
                    <p class="integrantes"> Tel.: 444-4444</p>
                    <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                    <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
                </div>
                <div class="footer-columna">
                    <h3>NOSOTROS</h3>
                        <p class="integrantes">ROVAGNA, Ignacio</p>
                        <p class="integrantes">KIRIAZIS, Nicolas</p>
                        <p class="integrantes">CORTES, Luceo</p>
                        <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                        <p class="integrantes">VILLAFAÑE, Cristian</p>
                    
                </div>
            </div>
            <div class="footer-contenedor-tres">
                <h3>REDES</h3>
                <div class="footer-contenedor-redes">
                    <i class="fa-brands fa-instagram redes"></i>
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <i class="fa-brands fa-facebook redes"></i>
                </div>
            </div>
        </div>
        </footer>    

</body>

</html>