<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

    <%- include('partials/header.ejs') %>

    <main class="main1-login">
        <section id="login1">
            <div>
                <img src="image/gamer.png" alt="logo" id="logo-login">
            </div>

            <form action="/login" method="post">
                <input class="login1-input" type="text" name="name" placeholder="Nombre del usuario" required>
                <input class="login1-input" type="password" name="pass" placeholder="Contraseña" required>
                <button class="login1-button" type="submit">INGRESAR</button>
            </form>

            <p id="login-register">No tienes una cuenta? registrate <a href="/register">Aqui</a></p>

        </section>
    </main>

    <%- include('partials/footer.ejs') %>

</body>

</html>