<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

    <%- include('partials/header.ejs') %>

    <main class="main-login">
        <section id="login">
            <div>
                <img src="image/gamer.png" alt="logo" id="logo-login">
            </div>

            <form action="/login" method="post">
                <input class="login-input" type="text" name="name" placeholder="Nombre del usuario" required>
                <input class="login-input" type="password" name="pass" placeholder="Contraseña" required>
                <button class="login-button" type="submit">INGRESAR</button>
            </form>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>

</body>

</html>