<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/productCart.css">
    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
    <title>Gamer House - Carro de compras</title>
</head>

<body>
    <header>

        <div class="top-header">
            <p class="">OFERTA HASTA AGOTAR STOCK 30% --- SOLO POR ESTE MES</p>
        </div>

        <div class="container">
            <i class="fa-solid fa-bars nav-item"></i>
            <div class="logo">
            <img src="image/gamer-house-logo.png" alt="logo-gamer-house" id="logo">
            </div>
            <nav>
                <ul class="nav-item">
                    <li>Quienes Somos</li>
                    <li>Contactanos</li>
                    <li>Soporte</li>
                </ul>
            </nav>
            <div>
                <ul class="nav-item">
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
        </div>
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="  Buscar videojuegos">
            <i class="fas fa-search" id="lupa"></i>
        </div>

    </header>

    <main>
        <section class="navbar">
            <ul class="categorias">
                <li class="carrito">Carrito (3)</li>
                <li>Guardados (0)</li>
            </ul>
            <div id="cart">
                <p>Limpiar carrito</p>
                <i class="fas fa-shopping-cart"></i>
            </div>

        </section>
        <section id="cart" class="article">
            <article>
                <div class="product-img">
                    <img src="/image/fifa23.jpg" alt="Fifa 2023">
                </div>
                <div id="cart" class="product-container">
                    <div class="desc-container">
                        <h3>EA SPORTS™ FIFA 23 Pre-order Edition</h3>
                        <i class="fab fa-xbox"></i>
                        <p>USD$ 32.50</p>
                    </div>
                    <div class="nav-art">
                        <h4>Disponible: 1 OCT 2022</h4>
                        <p class="guardar">Guardar para despues</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <article>
                <div class="product-img">
                    <img src="/image/codmw2.jpg" alt="Moder Warfare 2">
                </div>
                <div id="cart" class="product-container">
                    <div class="desc-container">
                        <h3>Call of Duty®: Modern Warfare® II</h3>
                        <i class="fas fa-desktop"></i>
                        <p>USD$ 29.30</p>
                    </div>
                    <div class="nav-art">
                        <h4>Vault Edition</h4>
                        <p class="guardar">Guardar para despues</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>            
            <article>
                <div class="product-img">
                    <img src="/image/godofwar.jpg" alt="Fifa 2023">
                </div>
                <div id="cart" class="product-container">
                    <div class="desc-container">
                        <h3>God of War</h3>
                        <i class="fab fa-playstation"></i>
                        <p>USD$ 22.40</p>
                    </div>
                    <div class="nav-art">
                        <h4>¡PROMOCIÓN ESPECIAL! La oferta finaliza en 07:47:23</h4>
                        <p class="guardar">Guardar para despues</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
        </section>

        <section class="resumen">
            <article class="importes">
                <div class="detalle">
                    <h5>Descuento:</h5>
                    <h5>Subtotal:</h5>
                    <h5>Envio:</h5>           
                </div>
                <div class="columna-importes">
                    <h5 class="descuento">15%</h5>
                    <h5>USD$ 87.34</h5>
                    <h5>DIGITAL</h5>
                </div>
            </article>
            <article class="pagar">
                <div class="pagar">
                    <button class="cssbuttons-io">
                        <span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path></svg> Pagar</span>
                      </button>
                      
                    <p>Seguir comprando</p>
                </div>
                <div class="total">
                    <h4 class="total">Total:</h4>
                    <h4>USD$ 87.34</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class=footer>
            <div class="footer-contenedor-uno">
                <img src="image/logo.jpg" alt="logo en el footer" class="footer-imagen-logo">
            </div>
            <div class="footer-contendedor-dos">
                <div class="footer-columna">
                    <h3>TIENDA</h3>
                    <p class="integrantes">Play Station</p>
                    <p class="integrantes">X-Box</p>
                    <p class="integrantes">Pc</p>
                </div>
                <div class="footer-columna">
                    <h3>SERVICIO AL CLIENTE</h3>
                    <p class="integrantes"> Tel.: 444-4444</p>
                    <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                    <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
                </div>
                <div class="footer-columna">
                    <h3>NOSOTROS</h3>
                        <p class="integrantes">ROVAGNA, Ignacio</p>
                        <p class="integrantes">KIRIAZIS, Nicolas</p>
                        <p class="integrantes">CORTES, Luceo</p>
                        <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                        <p class="integrantes">VILLAFAÑE, Cristian</p>
                    
                </div>
            </div>
            <div class="footer-contenedor-tres">
                <h3>REDES</h3>
                <div class="footer-contenedor-redes">
                    <i class="fa-brands fa-instagram redes"></i>
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <i class="fa-brands fa-facebook redes"></i>
                </div>
            </div>
        </div>
        </footer>    
</body>

</html>