<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link CSS -->
    
    <link rel="stylesheet" href="css/.css">
    <link rel="stylesheet" href="css/ProductDetail.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Link íconos -->

    <title>ProductDetail</title>
</head>
<body>
    
    <body>

        <header>
    
            <div class="container">
                <i class="fa-solid fa-bars nav-item"></i>
    
                <img src="image/logo.jpg" alt="logo-gamer-house" id="logo">
    
                <nav>
    
                    <ul class="nav-item">
                        <li>Quienes Somos</li>
                        <li>Contactanos</li>
                        <li>Soporte</li>
                    </ul>
    
                </nav>
    
                <div>
                    <ul class="nav-item">
    
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
    
                    </ul>
                </div>
    
            </div>
    
            <div class="search-container">
    
                <input type="text" id="search-bar" placeholder="  Buscar..">
                <i class="fas fa-search" id="lupa"></i>
    
            </div>
    
        </header>
    
    
        <main>
    
            <div id="product-container">
    
                <p class="name">Fifa 22</p>
                <img src="/image/fifa22-image.png" alt="" id="product-img">
    
                <div id="product-card">
    
                    <div id="options-container">
                        <div id="sale-cartel">
                            <p class="sale">-25%</p>
                        </div>
                        <p class="price">$12000</p>
                        <button class="button">Agregar al carrito</button>
                    </div>
    
    
                </div>
    
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia sed,
                    accusamus
                    modi est consequatur laborum tenetur debitis optio. Qui maiores, omnis quasi debitis ducimus unde
                    aliquam laborum? Quasi, in?</p>
    
    
            </div>
        </main>

        <footer>
            <div class=footer>
                <div class="footer-contenedor-uno">
                    <img src="image/logo.jpg" alt="logo en el footer" class="footer-imagen-logo">
                </div>
                <div class="footer-contendedor-dos">
                    <div class="footer-columna">
                        <h3>TIENDA</h3>
                        <p class="integrantes">Play Station</p>
                        <p class="integrantes">X-Box</p>
                        <p class="integrantes">Pc</p>
                    </div>
                    <div class="footer-columna">
                        <h3>SERVICIO AL CLIENTE</h3>
                        <p class="integrantes"> Tel.: 444-4444</p>
                        <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                        <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
                    </div>
                    <div class="footer-columna">
                        <h3>NOSOTROS</h3>
                            <p class="integrantes">ROVAGNA, Ignacio</p>
                            <p class="integrantes">KIRIAZIS, Nicolas</p>
                            <p class="integrantes">CORTES, Luceo</p>
                            <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                            <p class="integrantes">VILLAFAÑE, Cristian</p>
                        
                    </div>
                </div>
                <div class="footer-contenedor-tres">
                    <h3>REDES</h3>
                    <div class="footer-contenedor-redes">
                        <i class="fa-brands fa-instagram redes"></i>
                        <i class="fa-brands fa-whatsapp redes"></i>
                        <i class="fa-brands fa-facebook redes"></i>
                    </div>
                </div>
            </div>
            </footer>    
    
            <footer>
                <div class=footer>
                    <div class="footer-contenedor-uno">
                        <img src="image/logo.jpg" alt="logo en el footer" class="footer-imagen-logo">
                    </div>
                    <div class="footer-contendedor-dos">
                        <div class="footer-columna">
                            <h3>TIENDA</h3>
                            <p class="integrantes">Play Station</p>
                            <p class="integrantes">X-Box</p>
                            <p class="integrantes">Pc</p>
                        </div>
                        <div class="footer-columna">
                            <h3>SERVICIO AL CLIENTE</h3>
                            <p class="integrantes"> Tel.: 444-4444</p>
                            <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                            <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
                        </div>
                        <div class="footer-columna">
                            <h3>NOSOTROS</h3>
                                <p class="integrantes">ROVAGNA, Ignacio</p>
                                <p class="integrantes">KIRIAZIS, Nicolas</p>
                                <p class="integrantes">CORTES, Luceo</p>
                                <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                                <p class="integrantes">VILLAFAÑE, Cristian</p>
                            
                        </div>
                    </div>
                    <div class="footer-contenedor-tres">
                        <h3>REDES</h3>
                        <div class="footer-contenedor-redes">
                            <i class="fa-brands fa-instagram redes"></i>
                            <i class="fa-brands fa-whatsapp redes"></i>
                            <i class="fa-brands fa-facebook redes"></i>
                        </div>
                    </div>
                </div>
                </footer>    
    </body>

</body>
</html>