<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link CSS -->
    
    <link rel="stylesheet" href="css/.css">
    <link rel="stylesheet" href="css/ProductDetail.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Link íconos -->

    <title>ProductDetail</title>
</head>
<body>
    
    <body>

        <header>
    
            <div class="container">
                <i class="fa-solid fa-bars nav-item"></i>
    
                <img src="image/logo.jpg" alt="logo-gamer-house" id="logo">
    
                <nav>
    
                    <ul class="nav-item">
                        <li>Quienes Somos</li>
                        <li>Contactanos</li>
                        <li>Soporte</li>
                    </ul>
    
                </nav>
    
                <div>
                    <ul class="nav-item">
    
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
    
                    </ul>
                </div>
    
            </div>
    
            <div class="search-container">
    
                <input type="text" id="search-bar" placeholder="  Buscar..">
                <i class="fas fa-search" id="lupa"></i>
    
            </div>
    
        </header>
    
    
        <main>
    
            <div id="product-container">
    
                <p class="name">Fifa 22</p>
                <img src="/image/fifa22-image.png" alt="" id="product-img">
    
                <div id="product-card">
    
                    <div id="options-container">
                        <div id="sale-cartel">
                            <p class="sale">-25%</p>
                        </div>
                        <p class="price">$12000</p>
                        <button class="button">Agregar al carrito</button>
                    </div>
    
    
                </div>
    
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia sed,
                    accusamus
                    modi est consequatur laborum tenetur debitis optio. Qui maiores, omnis quasi debitis ducimus unde
                    aliquam laborum? Quasi, in?</p>
    
    
            </div>
        </main>
    
        <footer>
        </footer>
    </body>

</body>
</html>