<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

    <%- include('partials/header.ejs') %>

    <main>
        <div id="category-container">
            <a href="/">Juegos,</a>
            <a href="/">Playstation</a>
        </div>

        <div id="product-container">

            <p id="title">EA SPORTS™ FIFA 23 Pre-order Edition</p>
            <div id="img-container">

                <img src="image/product-detail-img/fifa-23-ps5-detail-img.png" alt="fifa-23-ps5-detail-img"
                    class="product-img">

                <div id="img-detail">

                    <img src="image/product-detail-img/fifa-23-ps5-detail-img-2.png"
                        alt="fifa-23-ps5-detail-img-gameplay" class="img-detail">
                    <img src="image/product-detail-img/fifa-23-ps5-detail-img-3.png"
                        alt="fifa-23-ps5-detail-img-gameplay" class="img-detail">
                    <img src="image/product-detail-img/fifa-23-ps5-detail-img-4.png"
                        alt="fifa-23-ps5-detail-img-gameplay" class="img-detail">

                </div>
            </div>

            <div id="product-card">
                <p class="price">USD$ 32.50</p>

                <p class="description">
                    EA SPORTS™ FIFA 23 da vida a The World’s Game con la tecnología HyperMotion 2 en PlayStation®5,
                    que ofrece una experiencia de juego aún más realista, además de la FIFA World Cup™ masculina y
                    femenina, la inclusión del fútbol femenino de clubes, función de juego cruzado y mucho más.


                </p>

                <div id="button-container">
                    <button>Comprar</button>
                    <button>Agregar al carrito</button>
                </div>

            </div>

        </div>
    </main>

    <%- include('partials/footer.ejs') %>
    
</body>

</body>

</html>