<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <header>

        <div class="container">
            <i class="fa-solid fa-bars nav-item"></i>

            <img src="image/logo.jpg" alt="logo-gamer-house" id="logo">

            <nav>

                <ul class="nav-item">
                    <li>Quienes Somos</li>
                    <li>Contactanos</li>
                    <li>Soporte</li>
                </ul>

            </nav>

            <div>
                <ul class="nav-item">

                    <li><i class="fa-solid fa-cart-shopping"></i></li>

                </ul>
            </div>

        </div>

        <div class="search-container">

            <input type="text" id="search-bar" placeholder="  Buscar..">
            <i class="fas fa-search" id="lupa"></i>

        </div>

    </header>

    <main>
        <h1 class="login-titulo">BIENVENIDOS</h1>
        <form action="#" method="POST" class="login-register">
            <div>
                <label for="nombre" class="login-etiqueta">NOMBRE: </label>
                <input type="text" id="nombre" name="nombre" class="login-input">
            </div>
            <div>
                <label for="apellido" class="login-etiqueta">APELLIDO</label>
                <input type="text" id="apellido" name="apellido" class="login-input">
            </div>
            <div>
                <label for="nacionalidad" class="login-etiqueta">NACIONALIDAD:</label>
                <input type="text" id="nacionalidad" name="nacionalidad" class="login-input">
            </div>
            <div>
                <label for="fechaNacimiento" class="login-etiqueta">FECHA DE NACIMIENTO</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="login-input">
            </div>
            <div>
                <label for="mail" class="login-etiqueta">E-MAIL</label>
                <input type="email" id="mail" name="mail" class="login-input">
            </div>
            <div>   
                <label for="password" class="login-etiqueta">PASSWORD:</label>
                <input type="password" id="password" name="password" class="login-input"> 
            </div>
            <div>
                <label for="passwordRepite" class="login-etiqueta">REPITA PASSWORD:</label>
                <input type="password" id="passwordRepite" name="PasswordRepite" class="login-input">
            </div>
            <div>
                <button type="submit" class="login-button">REGISTRARSE</button>
            </div>
        </form>
    </main>
    <footer>
    <div class=footer>
        <div class="footer-contenedor-uno">
            <img src="image/logo.jpg" alt="logo en el footer" class="footer-imagen-logo">
        </div>
        <div class="footer-contendedor-dos">
            <div class="footer-columna">
                <h3>TIENDA</h3>
                <p class="integrantes">Play Station</p>
                <p class="integrantes">X-Box</p>
                <p class="integrantes">Pc</p>
            </div>
            <div class="footer-columna">
                <h3>SERVICIO AL CLIENTE</h3>
                <p class="integrantes"> Tel.: 444-4444</p>
                <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
            </div>
            <div class="footer-columna">
                <h3>NOSOTROS</h3>
                    <p class="integrantes">ROVAGNA, Ignacio</p>
                    <p class="integrantes">KIRIAZIS, Nicolas</p>
                    <p class="integrantes">CORTES, Luceo</p>
                    <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                    <p class="integrantes">VILLAFAÑE, Cristian</p>
                
            </div>
        </div>
        <div class="footer-contenedor-tres">
            <h3>REDES</h3>
            <div class="footer-contenedor-redes">
                <i class="fa-brands fa-instagram redes"></i>
                <i class="fa-brands fa-whatsapp redes"></i>
                <i class="fa-brands fa-facebook redes"></i>
            </div>
        </div>
    </div>
    </footer>    

</body>



</html>