/* FUENTE IMPORTADA */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

/* ---- CSS Header ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
}

header {
    width: 100%;
    background-color: #120727;
}

header i {
    color: #fff;
}

div.container#header {
    flex-wrap: nowrap;

}

div.top-header {
    width: 100%;
    text-align: center;
    background-color: #cade01;
}


#logo {
    width: 100%;
}

div.logo {
    display: flex;
    width: 50%;

}

nav {
    display: none;
}

.nav-item {

    display: flex;
    justify-content: right;
    list-style: none;
    align-items: right;
    transition: all 650ms;
}

ul.nav-item li {
    width: 100%;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 650ms;
    font-size: 14px;
}

ul.nav-item li:hover {
    background-color: #3c145e;
}

ul.nav-item li:hover i {
    color: #cade01;
}

ul.dropdown-menu li {
    border-top: #cade01;

}



a:hover {
    color: #cade01;
    border-top: #cade01;
}




.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #3c145e;
    align-items: right;
}


#lupa {
    margin-left: 7px;
    padding: 2px;
    background-color: #3c145e;
    border-radius: 5px;
    color: #cade01;
}

#search-bar {
    width: 70%;
    max-width: 1000px;
    flex-grow: 0;
    border: 2px solid #120727;
    border-radius: 5px;
    height: 26px;
    padding: 4px;
    font-weight: 100;
}


/*  ESTILOS DEL BANNER */
#banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner {
    width: 100%;
    height: 150px;
}

.banner {
    width: 100%;
    height: 205px;
}

.bannerC {
    display: flex;
}

/* ESTILOS DEL MAIN */
main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.products-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    text-align: center;
    align-items: center;
}


.productos-nuevos {
    display: none;
    background-color: #33095838;
}

.container {
    display: flex;


}

.container-duo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
    height: 100px;
    color: #120727;
    background-color: #4213992c;
    padding-top: 18px;
}

.container-duo:hover {
    color: #cade01;
    background-color: #3c145e;
}

.container-duo p {
    font-family: 'Bebas Neue';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    color: #120727;
    src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.lanza p {
    font-family: 'Bebas Neue';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    color: #3c145e;
    src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.container-duo span {
    font-size: 35px;
}


div.categ-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;


}

div.categ-container i {
    font-size: large;
    width: 40px;
}

section.categorias {

    display: flex;
    justify-content: center;
    flex-direction: column;
}



.product-box_data {
    max-height: 134px;
    background-color: #12072746;
    padding: 5px;
}

.product-box_data h2 {
    font-size: 24px;
    margin-top: 6px;
}

.product_img {
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px
}

;

p {
    font-family: fantasy;
}

.marcas-games {
    width: 30%;
    margin: 15px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px
}

.lanzamientos {
    height: 190px;
    width: 155px;
    margin: 15px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px
}

.product-box {
    margin-bottom: 15px;
}

main h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #120727;
    border: #3c145e;

}


.container-redes {
    display: flex;
    flex-direction: row;
}

.redsocial {
    height: 40px;
    width: 40px;
    margin: 15px;
    box-shadow: 0px 0px 10px purple;
    border-radius: 15px;
}

.carritocompras {
    height: 40px;
    width: 40px;
    margin: 15px;

}

.container-ultimaspeliculas {
    display: flex;
    flex-direction: row;
}

.container-peliculasxbox {
    display: flex;
    flex-direction: row;
}

.adminPanel{
    text-align: left;
    background-color: #3c145e3e;
    margin: 20px;
    padding: 50px;
    min-width: 400px;
}

@media (min-width: 768px) {

    .bannerC {
        display: flex;
    }

    div.products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }

    div.container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #3c145e4a;
        padding-top: 30px;

    }


    nav {
        display: block;
        color: #fff;
        align-items: center;
    }

    #menu {
        display: none;
    }

    div.logo {
        width: 30%;
    }

}

@media (min-width: 1000px) {
    div.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #3c145e4a;
        margin-top: 10px;
    }

    .productos-nuevos {
        display: contents;
    }

    .categ-container {

        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .container-duo {

        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 250px;
        text-align: center;
        align-items: center;
        height: 200px;
        color: #120727;
        background-color: #4213992c;
    }

    .container-duo:hover {
        color: #cade01;
        background-color: #3c145e;
    }

    .container-duo p {
        font-family: 'Bebas Neue';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        color: #120727;

    }
}