/* --- Estilos generales ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
}

/* --- Estilos Header ---*/

header {
    width: 100%;
    background-color: #120727;
}

header i {
    color: #fff;
}

div.top-header {
    width: 100%;
    text-align: center;
    background-color: #cade01;
}


#logo {
    width: 100%;
}

div.logo {
    display: flex;
    width: 50%;

}

nav {
    display: none;
}

.nav-item {

    display: flex;
    justify-content: right;
    list-style: none;
    align-items: right;
    transition: all 650ms;
}

ul.nav-item li {
    width: 100%;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 650ms;
    font-size: 14px;
}

ul.nav-item li:hover {
    background-color: #3c145e;
}

ul.nav-item li:hover i {
    color: #cade01;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #120727;
    margin-left: 5%;
    margin-right: 5%;

}


.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #3c145e;
    align-items: right;
}


#lupa {
    margin-left: 7px;
    padding: 2px;
    background-color: #3c145e;
    border-radius: 5px;
    color: #cade01;
}

#search-bar {
    width: 70%;
    max-width: 1000px;
    flex-grow: 0;
    border: 2px solid #120727;
    border-radius: 5px;
    height: 26px;
    padding: 4px;
    font-weight: 100;
}

/* ------- Estilos podructCart.html -------- */

main {
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

p {
    font-size: 16px;
}

main section.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    /*border-bottom: 2px solid rgb(191, 190, 190);    */
}

main section.navbar ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    align-items: center;
    list-style-type: none;
    font-size: 10px;
    margin-left: 30px;
}

li {
    width: 140px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

li.carrito {
    border-bottom: 2px solid #3c145ef9;
}

li.carrito:hover {
    border-bottom: 2px solid #cade01;
}

div.cart {
    align-items: center;
}

main section.navbar div {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    text-align: right;
    margin: 10px;
    align-items: center;
    font-size: 20px;
    margin-right: 5%;
}

main section.navbar div i {
    width: 30px;
    height: 30px;
    padding-right: 1%;
    font-size: 20px;
    padding: 1%;
    color: rgb(18, 18, 41);
    margin-left: 0px;
}

main section.navbar h4 {
    text-align: left;
}

main section.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

main section.article article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #3c145e28;
    border-bottom: 3px solid #fffcfc;
    border-top: 3px solid #fffefe;
    align-items: center;
    transition: all 700ms;
}

main section.article article:hover {
    background-color: #3a0ca3;
    color: #e0dede;
}

main section.article article:hover div.desc-container div i {
    color: #e0dede;
}

main section.article article div.product-img {
    width: 20%;
    max-width: 190px;
    text-align: center;
    padding: 1%;
    margin-left: 15px;
}

main section.article article div.product-container {
    width: 78%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.desc-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin: 10px;
    margin-bottom: 0px;
}

div.desc-container i {
    text-align: center;
    padding-left: 2%;
    color: #120727;
    font-size: 18px;
    display: none;
}

div.desc-container h3,
div.nav-art h4 {
    font-size: 13px;
}

div.desc-container div {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
}

div.desc-container div p {
    width: 100%;
    text-align: right;
    flex-wrap: nowrap;

}

div.nav-art {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin: 10px;
    flex-wrap: nowrap;
    text-align: left;
}

div.nav-art div {
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
    text-align: right;
}

div.nav-art div p {
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-wrap: nowrap;
    margin-right: 5px;
}


main section.resumen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.resumen article.importes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 30px;
}

article.importes div.detalle {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #b4b2b686;
}

article.importes h5 {
    margin: 4px;
    font-size: 12px;
    font-weight: 700;
}

article.importes div.columna-importes {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2%;
    background-color: #b4b2b686;
}


h5.descuento {
    color: #3a0ca3;
}

h3 {
    text-align: left;
    font-size: 16px;
}

article.pagar {
    display: flex;
    margin-top: 4%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
    border: 2px solid lightgray;
    padding: 2%;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #e0dede;
    color: #cade01;
}

div.total {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    background-color: #120727;

}

div.total h4.total {
    padding-right: 3%;
}

div.total h4 {
    font-size: 16px;
}

div.pagar {
    text-align: center;
    padding-top: 10px;
}

div.pagar p {
    margin: 5px;
    margin-top: 10px;

}

article.pagar p {
    text-align: center;
    font-size: 16px;

}

/* boton nuevo */

button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 30px;
    line-height: 1.5em;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #cade01;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

/*--- Media querys ---*/

@media (min-width: 768px) {

    /*--- Header ---*/

        div.container {
            justify-content: center;
        }

        ul.nav-item {
            margin-left: 30px;
        }

        nav {
            display: block;
            color: #fff;
            align-items: center;
        }

        #menu {
            display: none;
        }

        div.logo {
            width: 30%;
        }

        /*--- Main ---*/

        main {
            margin-top: 30px;
        }

        ul.categorias li {
            font-size: 18px;
        }

        div.desc-container i {
            display: flex;
        }

        div.desc-container h3,
        div.nav-art h4 {
            font-size: 18px;
        }

        article.importes h5 {
            margin: 4px;
            font-size: 14px;
            font-weight: 700;
        }
    }