.login-register {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    width: 100%;
}

.login-titulo {
    margin-top: 40px;
    text-align: center;
    color: #3c145e;
}

.login-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;


    height: 30px;
    color: #681ea8;
    padding-left: 10px;
}

.login-input:hover {
    background-color: #3c145e1f;
    color: rgb(54, 10, 90);
}

.login-button {
    display: block;
    background-color: #3c145e;
    color: #fff;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.card-img-top {
    max-width: 14rem;
    padding: 20px;
}

div label {
    color: #3c145e;
    font-family: Geneva, Verdana, sans-serif;
    font-size: small;
}


ul.errores {
    list-style-type: none;

}


.alert-warning {
    color: #842029;
    background-color: #F8D7DA;

    border-radius: 10px;
    padding: 10px;
}