

.login-register{
    padding: 20px;
    max-width: 900px;
    margin: auto;
    width: 100%;
}

.login-titulo{
    margin-top: 40px;
    text-align: center;
    color: #3c145e;
}

.login-input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    
    
    height: 40px;
    color: #3c145e;
    padding-left: 10px;
}

.login-input:hover{
    background-color: #3c145e2c;
    color: #fff;
}

.login-button{
    display: block;
    background-color:#3c145e;
    color: #fff;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.card-img-top {
    height: 250px;
}