/* --- Estilos generales ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    width: 300px;
    height: 150px;
    padding: 3%;
}

nav{
    display: none;
}

.nav-item{
    list-style: none;

    padding: 0;
    
}

/* .nav-item li{
    margin: 15px;
} */

/* --- Estilos Header ---*/

header{
    background-color: hsl(157, 73%, 47%);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hsl(157, 73%, 47%);
    /* Agegado por Ignacio / a revisar con equipo */
    margin-left: 5%;
    margin-right: 5%;
    
}

.search-container{
    display: flex;
    justify-content: center;
    padding: 8px;
    /* Modificado por Ignacio / a revisar con equipo (padding left y right 30px */
    padding-left: 35px;
    padding-right: 35px;
    background-color: hsl(157, 78%, 36%);
    align-items: center;
}

#lupa{
    margin-left: 7px;
    padding: 4px;
    background-color: rgba(181, 233, 126, 0.472);
    border-radius: 5px;
    
}

/* Agegado por Ignacio / a revisar con equipo (agregado flex grow para q la barra se adapte al ancho de la pantalla / border radius) */
#search-bar{
    flex-grow: 1;
    border: 2px solid rgba(181, 233, 126, 0.472);
    border-radius: 5px;
    height: 25px;
    width: 50%;
    padding: 4px;
}





/* --- Estilos index.html ---*/




/* --- Estilos productDetail.html ---*/




/* --- Estilos productCart.html ---*/




/* --- Estilos register.html ---*/

.login-register{
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.login-titulo{
    margin-top: 40px;
    text-align: center;
    color: hsl(157, 78%, 36%);
}

.login-input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: hsl(157, 73%, 47%) 2px solid ;
    height: 40px;
    color: hsl(157, 73%, 47%);
    padding-left: 10px;
}

.login-input:hover{
    background-color: hsl(157, 73%, 47%);
    color: #fff;
}

.login-button{
    display: block;
    background-color: hsl(157, 78%, 36%);
    color: #fff;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    background-color: #120727;
    color: #fff;
    padding: 20px;
}

.footer-contendedor-dos{
    display: none;
}

.footer-contenedor-uno{
    width: 200px;
}

.footer-imagen-logo{
    width: 100%;
}



@media (min-width: 768px){

    .footer-contendedor-dos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-columna{
        margin-left: 20px;
    }
}





