/* --- Estilos generales ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    width: 100px;
    height: 50px;
}

nav{
    display: none;
}

.nav-item{
    list-style: none;
    display: flex;
    padding: 0;
    
}

/* .nav-item li{
    margin: 15px;
} */

/* --- Estilos Header ---*/

header{
    background-color: hsl(157, 73%, 47%);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hsl(157, 73%, 47%);
    /* Agegado por Ignacio / a revisar con equipo */
    margin-left: 25px;
    margin-right: 25px;
}

.search-container{
    display: flex;
    justify-content: center;
    padding: 8px;
    /* Modificado por Ignacio / a revisar con equipo (padding left y right 30px */
    padding-left: 35px;
    padding-right: 35px;
    background-color: hsl(157, 78%, 36%);
}

#lupa{
    margin-left: 10px;
}

/* Agegado por Ignacio / a revisar con equipo (agregado flex grow para q la barra se adapte al ancho de la pantalla / border radius) */
#search-bar{
    flex-grow: 1;
    border: 2px solid rgb(51, 68, 50);
    border-radius: 25px;
    height: 23px;
}


/* --- Estilos index.html ---*/




/* --- Estilos productDetail.html ---*/




/* --- Estilos productCart.html ---*/




/* --- Estilos register.html ---*/

.login-register{
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.login-titulo{
    margin-top: 40px;
    text-align: center;
    color: hsl(157, 78%, 36%);
}

.login-input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: hsl(157, 73%, 47%) 2px solid ;
    height: 40px;
    color: hsl(157, 73%, 47%);
    padding-left: 10px;
}

.login-input:hover{
    background-color: hsl(157, 73%, 47%);
    color: #fff;
}

.login-button{
    display: block;
    background-color: hsl(157, 78%, 36%);
    color: #fff;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* --- Estilos login.html ---*/
main section#login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 260px;
    box-shadow: 0px 1px 20px rgb(100, 100, 100);
    padding: 10px;
}

main section#login div {
    display: flex;
    border-radius: 50%;
}

/* --- Estilos Footer ---*/