/* --- Estilos generales ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    width: 100px;
    height: 50px;
}

nav{
    display: none;
}

.nav-item{
    list-style: none;
    display: flex;
    padding: 0;
    
}

/* .nav-item li{
    margin: 15px;
} */

/* --- Estilos Header ---*/

header{
    background-color: hsl(157, 73%, 47%);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hsl(157, 73%, 47%);
    /* Agegado por Ignacio / a revisar con equipo */
    margin-left: 25px;
    margin-right: 25px;
}

.search-container{
    display: flex;
    justify-content: center;
    padding: 8px;
    /* Modificado por Ignacio / a revisar con equipo (padding left y right 30px */
    padding-left: 35px;
    padding-right: 35px;
    background-color: hsl(157, 78%, 36%);
}

#lupa{
    margin-left: 10px;
}

/* Agegado por Ignacio / a revisar con equipo (agregado flex grow para q la barra se adapte al ancho de la pantalla / border radius) */
#search-bar{
    flex-grow: 1;
    border: 2px solid rgb(51, 68, 50);
    border-radius: 25px;
    height: 23px;
}


/* --- Estilos index.html ---*/




/* --- Estilos productDetail.html ---*/




/* --- Estilos productCart.html ---*/




/* --- Estilos register.html ---*/




/* --- Estilos login.html ---*/




/* --- Estilos Footer ---*/