<footer>
    <div class=footer>
        <div class="footer-contenedor-uno">
            <img src="/image/gamer-house-logo.png" alt="logo en el footer" class="footer-imagen-logo">
        </div>
        <div class="footer-contendedor-dos">
            <div class="footer-columna">
                <h3>TIENDA</h3>
                <p class="integrantes">Play Station</p>
                <p class="integrantes">X-Box</p>
                <p class="integrantes">Pc</p>
            </div>
            <div class="footer-columna">
                <h3>SERVICIO AL CLIENTE</h3>
                <p class="integrantes"> Tel.: 444-4444</p>
                <p class="integrantes"> Av. Cabildo 4444, CABA</p>
                <P class="integrantes"> xxxxxx@xxxxxxxxxx.xxxx</P>
            </div>
            <div class="footer-columna">
                <h3>NOSOTROS</h3>
                <p class="integrantes">KIRIAZIS, Nicolas</p>
                <p class="integrantes">CORTES, Lucero</p>
                <p class="integrantes">OSSA ECHAVARRIA, Luis Miguel</p>
                <p class="integrantes">ROVAGNA, Ignacio</p>
                <p class="integrantes">VILLAFAÑE, Cristian</p>

            </div>
        </div>
        <div class="footer-contenedor-tres">
            <h3>REDES</h3>
            <div class="footer-contenedor-redes">
                <i class="fa-brands fa-instagram redes"></i>
                <i class="fa-brands fa-whatsapp redes"></i>
                <i class="fa-brands fa-facebook redes"></i>
            </div>
        </div>
    </div>
</footer>