<header>

    <div class="top-header">
        <p class=""><a href="/users/register">CREA TU CUENTA AHORA Y OBTÉN 15% OFF EN LA PRIMERA COMPRA!</a></p>
    </div>
    <section>
        <div class="container" id="header">
            <ul class="nav-item">
                <li id="menu"><i class="fa-solid fa-bars nav-item"></i></li>
            </ul>
            <div class="logo">
                <a href="/">
                    <img src="/image/gamer-house-logo.png" alt="Gamer House" id="logo">
                </a>
            </div>
            <nav>
                <a href="/users">
                <ul class="nav-item">
                    <li>QUIENES SOMOS</li>
                    <li>MEDIOS DE PAGO</li>
                    <li>SOPORTE</li>
                </ul>
            </a>
            </nav>
            <div>
                <ul class="nav-item">
                    <li class="login"><a href="/users/login"><i class="fas fa-user-astronaut"></i></a></li>
                    <li class="cart"><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="  Buscar juegos, consolas, acc..">
            <i class="fas fa-search" id="lupa"></i>
        </div>


</header>