.contenedor{

    display: inline-block;
    text-align: center;
    font-family: 'Orbitron', sans-serif ;
    font-size: 15px;
    margin-left: 30px;
    border-radius: 5px;
    

}

.producto{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.imagen{

    width: 200px;
    height: 250px;

}