<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main class="main1-login">
        <section id="login1">
            <div>
                <img src="/image/gamer.png" alt="logo" id="logo-login">
            </div>
            <div >
                <% if (typeof errors != 'undefined') { %>
            
                      <span class="error-msg">Email o contraseña inválida</span>
                    <% } %>
                 
            </div>
            <form action="/users/login" method="POST">
                <input class="login1-input" type="email" name="email" placeholder="Email">
                <input class="login1-input" type="password" name="password" placeholder="Contraseña">
                <label> <input  class="form-input"type="checkbox" name="remember" id="remember"> Recordarme</label><br>
                <button class="login1-button" type="submit">INGRESAR</button>
            </form>

            <p id="login-register">No tienes una cuenta? registrate <a href="/users/register">Aqui</a></p>

        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>