<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <h1 class="login-titulo">BIENVENIDOS</h1>
        <form action="#" method="POST" class="login-register">
            <div>
                <label for="nombre" class="login-etiqueta">NOMBRE: </label>
                <input type="text" id="nombre" name="nombre" class="login-input">
            </div>
            <div>
                <label for="apellido" class="login-etiqueta">APELLIDO</label>
                <input type="text" id="apellido" name="apellido" class="login-input">
            </div>
            <div>
                <label for="nacionalidad" class="login-etiqueta">NACIONALIDAD:</label>
                <input type="text" id="nacionalidad" name="nacionalidad" class="login-input">
            </div>
            <div>
                <label for="fechaNacimiento" class="login-etiqueta">FECHA DE NACIMIENTO</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="login-input">
            </div>
            <div>
                <label for="mail" class="login-etiqueta">E-MAIL</label>
                <input type="email" id="mail" name="mail" class="login-input">
            </div>
            <div>
                <label for="password" class="login-etiqueta">PASSWORD:</label>
                <input type="password" id="password" name="password" class="login-input">
            </div>
            <div>
                <label for="passwordRepite" class="login-etiqueta">REPITA PASSWORD:</label>
                <input type="password" id="passwordRepite" name="PasswordRepite" class="login-input">
            </div>
            <div>
                <button type="submit" class="login-button">REGISTRARSE</button>
            </div>
        </form>
    </main>
  
    <%- include('../partials/footer.ejs') %>

</body>

</html>